<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BECOME A SELLLER</title>
</head>
<body>
    <h1>BECOME A SELLLER</h1>
    <a class="navbtn" id="signup" href="/signup" role="button">Sign up</a>
    <a class="navbtn" id="login" href="/login" role="button">Login</a>
</body>
</html>
