<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/landing.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>ONLINE SME PLATFORM</title>
</head>
<body>
    <div class="mainwrapper">
        <!--Side Navigation-->
        <div class="sidenav">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="/imgs/small.png" width="40px" height="40px">  Social Market </a>
                </div>
                <ul>
                    <li class="active" ><a href="#"><i class="fas fa-house"></i>Home</a></li>
                    <li><a href="#"><i class="fas fa-store"></i>Stores</a></li>
                    <li><a href="#"><i class="fas fa-heart"></i>Liked</a></li>
                    <li><a href="#"><i class="fas fa-receipt"></i>History</a></li>
                </ul>
        </div>

        <!--Main Content-->

        <div class="maincontent">
            <!--Top Navigation-->
            <nav>
                <button type="button" class="navbtn" id="sellerbtn">Become a Seller</button>
                 <a class="navbtn" id="signup" href="/signup" role="button">Sign up</a>
                <a class="navbtn" id="login" href="/login" role="button">Login</a>
               </nav>

            <div id="imagecontainer"
                style="background-image: url('/imgs/landingimg.jpg');">
                <div class="color-overlay">
                    <!--Category Slider-->
                    <div id="categorydiv">
                        <button type="button" class="categorybtn" id="explore">Explore</button>
                        <button type="button" class="categorybtn" id="food">Food and Drink</button>
                        <button type="button" class="categorybtn" id="apparel">Apparel</button>
                        <button type="button" class="categorybtn" id="jewelry">Jewelry</button>
                        <button type="button" class="categorybtn" id="stationery">Stationery</button>
                        <button type="button" class="categorybtn" id="books">Books</button>
                    </div>
                    <!--Landing Message-->
                    <h1 id="landingmsg">Discover the best of Kenya’s<br>Small Businesses</br></h1>
                    <p id="landingtext">Find all the products you've been searching for from our <br>vibrant community of small business owners</br></p>
                    <div class="searchbox">
                        <i class="fas fa-search"></i><input type="text" placeholder="Search products and stores">
                    </div>
                   
                </div>
            
            </div>
            <div id="productcontainer">
                <h3 style="padding-bottom: 4vh;">Product Recommendations</h3>
                <div id="products">
                    <div class="card" style="width: 16rem;">
                        <img src="/imgs/cupcake.jpeg" class="card-img-top" alt="Rasbery Cupcakes">
                        <div class="card-body">
                          <h5 class="card-title">Raspberry Cupcakes</h5>
                          <p class="card-text">Ksh 50</p>
                          <a href="#" class="btn btn-primary">View seller</a>
                        </div>
                      </div>

                      <div class="card" style="width: 16rem;">
                        <img src="/imgs/b.jpg" class="card-img-top" alt="Assorted Bracelets">
                        <div class="card-body">
                          <h5 class="card-title">Assorted Bracelets</h5>
                          <p class="card-text">Ksh 500</p>
                          <a href="#" class="btn btn-primary">View seller</a>
                        </div>
                      </div>
                      <div class="card" style="width: 16rem;">
                        <img src="/imgs/anime.webp" class="card-img-top" alt="Rasbery Lemon Cupcake">
                        <div class="card-body">
                          <h5 class="card-title">Anime Sticker pack</h5>
                          <p class="card-text">Ksh 150</p>
                          <a href="#" class="btn btn-primary">View seller</a>
                        </div>
                      </div>
                      <div class="card" style="width: 16rem;">
                        <img src="/imgs/hat.jpg" class="card-img-top" alt="Sisal Hat">
                        <div class="card-body">
                          <h5 class="card-title">Sisal Hat</h5>
                          <p class="card-text">Ksh 400</p>
                          <a href="#" class="btn btn-primary">View seller</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>