* {
    margin: 0px;
    padding: 0px;
}

nav{
    height: 7vh;
    padding-top: 1em;
    width:100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right:1.5em;
}
.navbar-brand{
    font-size: 1.4em;
    font-weight: 600;
}
a{
    color:black;
    text-decoration: none;
    font-size: 1.3em;

}
.navbtn{
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    margin:0.5em;
  
  }

#login{
    color: #C63E88;
    background-color:#E29EC3;
    margin-right: 3em;
}
#pagecontent{
    width:90vw;
    margin: 0 auto;
}

#dashboardtitle{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 0.5em;
    color: #ffffff;
}

#imagediv{
    background-image: url(/imgs/sellerdashimg.svg);
    
    background-size: cover;
    width:100%;
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

#yourshopssection{
    padding-top: 2em;
}
#mystoreslb{
    font-size: 2.5rem;
    font-weight:600;
}
#newshopdiv{
    width: 100%;
    display: flex;
    justify-content: right;
}
.btn-primary{
    background-color: #C63E88;
    border: none;

}
.btn-primary:hover{
    background-color:#E29EC3

}
#newShopModalLabel{
    font-weight: 600;
    font-size: 1.8em !important;

}


.stepTitle{
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin-top: 1.2em;

}
.stepnumber{
    font-weight: 600;
    font-size: 0.8em;
    color:#C63E88

}
.form-group{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    font-size: 1.2em;

}
.progress{
    margin: 0 auto;
    height: 2em;
}
.progress-bar{
    background-color: #C63E88;

}
form{
    margin-top: 1em;
}
.modal-body{
    padding: 2em;
}



h1 {
    text-align: center;
}
h2 {
    margin: 0;
}
#multi-step-form-container {
    margin-top: 2rem;
}
.text-center {
    text-align: center;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.pl-0 {
    padding-left: 0;
}
.button {
    padding: 0.7rem 1.5rem;
    border: 1px solid #414141;
    background-color: #414141;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    border: 1px solid #C63E88;
    background-color: #C63E88;
}
.mt-3 {
    margin-top: 2rem;
}
.d-none {
    display: none;
}

.font-normal {
    font-weight: normal;
}
ul.form-stepper {
    counter-reset: section;
    margin-bottom: 3rem;
}
ul.form-stepper .form-stepper-circle {
    position: relative;
}
ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
ul.form-stepper > li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}
.form-stepper-horizontal > li:not(:last-of-type) {
    margin-bottom: 0 !important;
}
.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}
.form-stepper-horizontal li:after {
    background-color: #dee2e6;
}
.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #C63E88;
}
.form-stepper-horizontal li:last-child {
    flex: unset;
}
ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}
.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #C63E88 !important;
    color: #fff;
}
.form-stepper .form-stepper-active .label {
    color: #C63E88 !important;
}
.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #C63E88 !important;
    color: #fff !important;
}
.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}
.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #E29EC3 !important;
    color: #fff;
}
.form-stepper .form-stepper-completed .label {
    color: #E29EC3 !important;
}
.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #E29EC3 !important;
    color: #fff !important;
}
.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}
.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}
.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}
.form-stepper a {
    cursor: default;
}
.accordion{
    padding-top: 1em;
    padding-bottom: 1em;
}

#shopsdiv{
    margin-top: 2em;
    margin-bottom: 2em;
}

.custom-card-width {
    max-width: 400px;
  }
#addStoreCard{
    background-color: #fafafa;
    height: 210px;
}
#addStoreCard i{
    margin: auto auto;
    font-size: 5em;
    color: #cdcdcd;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #FAFAFA;

  }

.card:hover {
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
  }

.card:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }
  