* {
    margin: 0px;
    padding: 0px;
}

nav{
    height: 7vh;
    padding-top: 1em;
    width:100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right:1.5em;
}
.navbar-brand{
    font-size: 1.4em;
    font-weight: 600;
}
a{
    color:black;
    text-decoration: none;
    font-size: 1.3em;

}
.navbtn{
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    margin:0.5em;
  
  }

#login{
    color: #C63E88;
    background-color:#E29EC3;
    margin-right: 3em;
}
#pagecontent{
    width:90vw;
    margin: 0 auto;
}

#dashboardtitle{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 0.5em;
    color: #ffffff;
}

#imagediv{
    background-image: url(/imgs/sellerdashimg.svg);
    
    background-size: cover;
    width:100%;
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

#yourshopssection{
    padding-top: 2em;
}
#mystoreslb{
    font-size: 2rem;
    font-weight:600;
}
#newshopdiv{
    width: 100%;
    display: flex;
    justify-content: right;
}
.btn-primary{
    background-color: #C63E88;
    border: none;

}
.btn-primary:hover{
    background-color:#E29EC3

}
.modaltitles{
    font-weight: 600;
}
.form-group{
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}